<aside class="aside">
   <div class="asideContent">
      <ul class="asideLinks">
         <li>
            <a
               class="link"
               href="https://github.com/NightWanderer2004/simple-blog"
            >
               <img class="linkGithub" src="img/github.svg" alt="github" />
               github
            </a>
         </li>
      </ul>
   </div>
</aside>
<footer class="footer">
   <div class="footerContent">
      <p class="footerInfo">simple-блог <span class="year">2022</span></p>
   </div>
</footer>
