<aside class="aside">
   <div class="asideContent">
      <ul class="asideLinks">
         <li>
            <a
               class="link"
               href="https://github.com/NightWanderer2004/simple-blog"
            >
               <img class="githubIcon" src="/img/github.svg" alt="github" />
            </a>
         </li>
         <li>
            <a
               class="link"
               href="#"
            >
               <img class="telegramIcon" src="/img/telegram.svg" alt="telegram" />
            </a>
         </li>
      </ul>
   </div>
</aside>
<footer class="footer">
   <div class="footerContent">
      <p class="footerInfo">
         simple-блог <span class="year">{{ site.year }}</span>
      </p>
   </div>
</footer>
