<header class="navbar">
   <nav class="navbarContent">
      <a class="logo" href="/">
         {{ site.logo }}
      </a>
      <ul class="navLinks">
         <li class="links">
            <a class="navLink" href="/posts">посты</a>
            <a class="navLink" href="/hints">советы</a>
         </li>
         <li>
            <a class="navLink" href="/settings">
               <img class="settingsIcon" src="/assets/img/settings.svg" alt="[/]" />
            </a>
         </li>
      </ul>
   </nav>
</header>
