<header class="navbar">
   <nav class="navbarContent">
      <a class="logo" href="/">
         {{ site.logo }}
      </a>
      <ul class="navLinks">
         <li><a class="navLink" href="/posts">посты</a></li>
         <li><a class="navLink" href="/hints">советы</a></li>
      </ul>
   </nav>
</header>
