.article a {
   @apply text-3xl font-semibold text-blue-800/90 hover:underline underline-offset-2;
}
.article a[href="/"] {
   @apply text-4xl;
}
.article h3 {
   @apply my-4 text-6xl md:text-8xl font-bold break-words;
}
.article h4 {
   @apply mt-8 text-5xl md:text-6xl font-semibold;
}
.article p {
   @apply mt-6 text-2xl font-medium tracking-normal leading-snug md:leading-normal;
}
.article p:last-of-type {
   @apply mb-6;
}
.article img {
   @apply mt-6 w-auto md:w-[60vw];
}
.article pre {
   @apply p-2 mt-6 overflow-scroll bg-gray-100 text-lg;
   tab-size: 2;
}
.hljs-tag {
   color: #22863a;
}
.hljs-attr {
   color: #6f42c1;
}
.hljs-attribute {
   color: #005cc5;
}
.hljs-punctuation {
   color: #24292e;
}
.hljs-comment,
.hljs-template-comment {
   color: #6a737d;
}
.hljs-string,
.hljs-template-string {
   color: #032f62;
}
.hljs-keyword {
   color: #d73a49;
}
.hljs-function {
   color: #6f42c1;
}
.hljs-built_in {
   color: #005cc5;
}
.hljs-number {
   color: #005cc5;
}
[class*="hljs-selector-"] {
   color: #6f42c1;
}
.hljs-property {
   color: #005cc5;
}
.hljs-value {
   color: #e36209;
}
.article em {
   @apply bg-gray-100;
}
.article ul,
.article ol {
   @apply list-decimal mt-6 pl-10;
}
.article ul li,
.article ol li {
   @apply text-xl mt-3;
}
.article .author {
   @apply text-lg font-bold mt-20;
}
.article .author + .date {
   @apply mt-0;
}
.article .date {
   @apply text-base m-0 font-semibold mt-20;
}

@media screen and (min-width: 768px) {
   .article pre {
      tab-size: 3;
   }
}
@media screen and (min-width: 1024px) {
   .article pre {
      tab-size: 4;
   }
}
