.article a {
   @apply text-4xl font-semibold text-blue-800/90 hover:underline underline-offset-2;
}
.article h3 {
   @apply my-4 text-6xl md:text-8xl font-bold break-words;
}
.article h4 {
   @apply mt-8 text-5xl md:text-6xl font-semibold;
}
.article p {
   @apply mt-6 text-2xl font-medium tracking-normal leading-snug md:leading-normal;
}
.article p:last-of-type {
   @apply mb-6;
}
.article img {
   @apply mt-6 w-[360px] md:w-[430px] lg:w-[480px] shadow-[3px_3px_rgba(0,0,0)];
}
.article pre {
   @apply p-2 mt-6 overflow-scroll bg-gray-100 text-lg;
   tab-size: 2;
}
.article em {
   @apply bg-gray-100;
}
.article ul,
.article ol {
   @apply list-decimal mt-6 pl-10;
}
.article ul li,
.article ol li {
   @apply text-xl mt-3;
}

@media screen and (min-width: 768px) {
   .article pre {
      tab-size: 3;
   }
}
@media screen and (min-width: 1024px) {
   .article pre {
      tab-size: 4;
   }
}
