body.dark {
   @apply bg-dark text-light;
}

/* Checkbox */
body.dark .darkthemeCheckbox {
   @apply accent-light;
}

/* Navbar */
body.dark .navbar {
   @apply border-light;
}
body.dark .navLinks {
   @apply bg-dark sm:bg-transparent border-light sm:border-transparent;
}

/* Colors */
body.dark .colorsButton.transparent:hover::before {
   content: "";
   @apply bg-light/70;
}
body.dark .colorsButton.active.transparent::before {
   content: "";
   @apply bg-light;
}
body.dark .transparent {
   @apply text-light border-light;
}
body.dark .stone {
   @apply bg-light text-dark;
}
body.dark .colorsButton.stone:hover::before {
   content: "";
   @apply bg-dark/70;
}
body.dark .colorsButton.active.stone::before {
   content: "";
   @apply bg-dark;
}

body.dark .orange,
body.dark .brilliant,
body.dark .yellow,
body.dark .lime,
body.dark .blue,
body.dark .purple,
body.dark .blood,
body.dark .stone,
body.dark .metal,
body.dark .transparent {
   @apply bg-opacity-90;
}
body.dark .orange,
body.dark .brilliant,
body.dark .blue,
body.dark .purple,
body.dark .blood,
body.dark .metal,
body.dark .transparent {
   @apply border-opacity-90 text-light;
}

/* Feed */
body.dark .allLink {
   @apply text-blue-600/90;
}

/* Post/Hint */
body.dark .main.article a {
   @apply text-blue-600/90;
}
body.dark .main.article pre {
   @apply bg-zinc-700/60;
}
body.dark .hljs-tag {
   color: #79b8ff;
}
body.dark .hljs-attr {
   color: #d4d4d4;
}
body.dark .hljs-attribute {
   color: #c5a5c5;
}
body.dark .hljs-punctuation {
   color: #d4d4d4;
}
body.dark .hljs-comment,
body.dark .hljs-template-comment {
   color: #6a737d;
}
body.dark .hljs-string,
body.dark .hljs-template-string {
   color: #b392f0;
}
body.dark .hljs-keyword {
   color: #ff7b72;
}
body.dark .hljs-function {
   color: #d4d4d4;
}
body.dark .hljs-built_in {
   color: #79b8ff;
}
body.dark .hljs-number {
   color: #ff7b72;
}
body.dark [class*="hljs-selector"] {
   color: #ff7b72;
}
body.dark .hljs-property {
   color: #79b8ff;
}
body.dark .hljs-value {
   color: #b392f0;
}
body.dark .main.article em {
   @apply bg-zinc-700/60;
}

/* Footer */
body.dark .aside {
   @apply border-light;
}
body.dark .footer {
   @apply bg-light;
}
body.dark .footerInfo {
   @apply text-dark;
}
body.dark .footerInfo .year {
   @apply text-light bg-dark;
}

/* ---Burger--- */
body.dark .menu path {
   @apply fill-neutral-100;
}
body.dark .cross path {
   @apply fill-neutral-100;
}

/* Settings */
body.dark .settingsIcon path {
   @apply fill-neutral-100;
}
/* GithHub */
body.dark .githubIcon path {
   @apply fill-neutral-100;
}
/* Telegram */
body.dark .tgBgc {
   @apply fill-neutral-100;
}
body.dark .tgWings {
   @apply fill-dark;
}
body.dark .tgBack {
   @apply fill-dark/90;
}
body.dark .tgCenter {
   @apply fill-gray-700;
}
