@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "./colors.css";
@import "./settings.css";
@import "./navbar.css";
@import "./page.css";
@import "./feed.css";
@import "./content.css";
@import "./darktheme.css";
@import "./footer.css";
@import "./categoryPage.css";
@import "./article.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
   @apply scroll-smooth;
}
body {
   @apply tracking-wider text-dark font-inter;
}
.wrapper {
   @apply flex flex-col min-h-screen overflow-hidden;
}
