.settingsTitle {
   @apply font-semibold text-2xl mb-2;
}
.darktheme {
   @apply flex gap-x-2 items-center;
}
.darkthemeCheckbox {
   @apply grid place-content-center accent-dark w-[16px] h-[16px] cursor-pointer;
}
.darkthemeSwitcher {
   @apply flex items-center gap-x-2 cursor-pointer;
}

.darkthemeInfo {
   @apply text-lg font-semibold;
}
.colorsButtons {
   @apply mb-5 md:mb-8 grid grid-rows-2 lg:grid-rows-1 grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-2;
}
.colorsButton {
   @apply relative h-16 lg:h-28;
}
.colorsButton:hover::before {
   content: "";
   @apply bg-white/70;
}
.colorsButton::before {
   content: "";
   @apply w-2 md:w-3 h-2 md:h-3 bg-transparent rounded-full absolute top-1 left-1;
}
.colorsButton.transparent:hover::before {
   content: "";
   @apply bg-dark/70;
}
.colorsButton.active.transparent::before {
   content: "";
   @apply bg-dark;
}
.colorsButton.active::before {
   content: "";
   @apply bg-white;
}
