.settingsTitle {
   @apply font-semibold text-2xl mb-2;
}
.colorsButtons {
   @apply mb-5 md:mb-8 grid grid-rows-2 lg:grid-rows-1 grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-2;
}
.colorsButton {
   @apply relative h-16 lg:h-28 border-2 border-transparent;
}
.colorsButton:hover::before {
   content: "";
   @apply bg-white/70;
}
.colorsButton::before {
   content: "";
   @apply w-2 h-2 bg-transparent rounded-full absolute top-1 left-1;
}
.colorsButton.active::before {
   content: "";
   @apply bg-white;
}
