---
layout: page.njk
pageTitle: Советы
permalink: "hints/"
---

<h1 class="title">{{ pageTitle }}</h1>

<ul class="postsList">
   {% for hint in collections.hints%}
   <li>
      <a href="{{ hint.url }}">{{ hint.data.title }}</a>
   </li>
   {% endfor %}
</ul>
