---
layout: page.njk
pageTitle: Hints
tabTitle: Suimiro | Hints
permalink: "hints/"
---

{% set hints = collections.hints %}

<h1 class="title">{{ pageTitle }}</h1>

<ul class="hintsList">
   {% for hint in hints %}
   <li>
      <a class="hintLink" href="{{ hint.url }}">
         <h3>{{ hint.data.title }}</h3>
      </a>
   </li>
   {% endfor %}
</ul>
