---
layout: page.njk
pageTitle: Советы
permalink: "hints/"
---

<h1 class="title">{{ pageTitle }}</h1>

<ul class="hintsList">
   {% for hint in collections.hints%}
   <li>
      <a class="hintLink stone" href="{{ hint.url }}">
         <h3>{{ hint.data.title }}</h3>
      </a>
   </li>
   {% endfor %}
</ul>
