---
layout: page.njk
pageTitle: Home
tabTitle: Suimiro | Home
permalink: index.html
---

{% set posts = collections.posts.reverse() | limit(3) %}
{% set hints = collections.hints.reverse() | limit(4) %}

<h2 class="title">{{ pageTitle }}</h2>
<div class="posts">
   <h3 class="feedTitle">Posts:</h3>
   <div class="feed">
      {% for post in posts %}
      <a href="{{ post.url }}" class="post">
         <h3 class="postTitle">{{ post.data.title }}</h3>
         <p class="postPreview">{{ post.data.preview }}</p>
         <div>
            <p class="postDate">
               {{
                  post.data.date.toLocaleDateString("en", {
                     year: "numeric",
                     month: "long",
                     day: "numeric"
                  })
               }}
            </p>
            <p class="postAuthor">
               by: <span>{{ post.data.author }}</span>
            </p>
         </div>
      </a>
      {% endfor %}
   </div>
   <a class="allLink" href="/posts">See all</a>
</div>
<div class="hints">
   <h3 class="feedTitle">Hints:</h3>
   <div class="feed">
      {% for hint in hints %}
      <a href="{{ hint.url }}" class="hint">
         <h3 class="hintTitle">{{ hint.data.title }}</h3>
      </a>
      {% endfor %}
   </div>
   <a class="allLink" href="/hints">See all</a>
</div>
