---
layout: page.njk
pageTitle: Posts
tabTitle: Suimiro | Posts
permalink: "posts/"
---

{% set posts = collections.posts %}

<h1 class="title">{{ pageTitle }}</h1>

<ul class="postsList">
   {% for post in posts %}
   <li>
      <a class="postLink" href="{{ post.url }}">
         <div class="postInfo">
            <p class="postAuthor">{{ post.data.author }}</p>
            <p class="postDate">
               {{
                     post.data.date.toLocaleDateString("en", {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                     })
                  }}
            </p>
         </div>
         <h3 class="postTitle">{{ post.data.title }}</h3>
      </a>
   </li>
   {% endfor %}
</ul>
