---
layout: page.njk
pageTitle: Посты
permalink: "posts/"
---

<h1 class="title">{{ pageTitle }}</h1>

{% for post in collections.posts %}
<ul class="postsList">
   <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
   </li>
</ul>
{% endfor %}
