---
layout: page.njk
pageTitle: Customization
tabTitle: Suimiro | Customization
permalink: "settings/"
---

<h1 class="title">{{ pageTitle }}</h1>
<h3 class="settingsTitle">Main color:</h3>
<ul class="colorsButtons">
   {% for color in colors %}
   <button class="colorsButton primary {{ color }}"></button>
   {% endfor %}
</ul>
<h3 class="settingsTitle">Secondary color:</h3>
<ul class="colorsButtons">
   {% for color in colors %}
   <button class="colorsButton secondary {{ color }}"></button>
   {% endfor %}
</ul>
<h3 class="settingsTitle">Dark theme:</h3>
<div class="darktheme">
   <label class="darkthemeSwitcher">
      <input type="checkbox" class="darkthemeCheckbox" />
      <span class="darkthemeInfo">Enable</span>
   </label>
   <label class="darkthemeSwitcher system">
      <input type="checkbox" class="darkthemeCheckbox system" />
      <span class="darkthemeInfo system">As a system</span>
   </label>
</div>
