<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
         rel="shortcut icon"
         href="/assets/favicon.ico"
         type="image/x-icon"
      />
      <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
      <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
      <link rel="stylesheet" href="/index.css" />
      <title>
         {% if tag === 'hint' %}
         Совет
         {% elif tag === 'post' %}
         Пост
         {% endif %}
         - Suimiro
      </title>
   </head>
   
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-SM6PDJMTL5"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'G-SM6PDJMTL5');
   </script>

   <body>
      <div class="wrapper">
         {% include 'navbar.njk' %}
         <article class="main article">
            <a href="/">На главную </a>
            {{ content | safe }}
            <a href="/">На главную </a>
         </article>
         {% include 'footer.njk' %}
      </div>
      <script src="/scripts/index.js" type="module"></script>
   </body>
</html>
